In [1]:
import pandas, copy, numpy,sys
from gumpy.genome import Genome
pandas.set_option('display.max_columns', 999)
%load_ext autoreload
%autoreload 2
numpy.set_printoptions(threshold=sys.maxsize)

In [2]:
pandas.__version__

'0.25.1'

In [3]:

TEST_CASE_DIR = "tests/test-cases/"

In [4]:
reference=Genome(genbank_file="config/NC_004148.2.gbk",name="HMPV")

In [5]:
sample_01=copy.deepcopy(reference)
sample_01.apply_vcf_file(vcf_file=TEST_CASE_DIR+"01.vcf",ignore_status=True,ignore_filter=True,metadata_fields=['GT_CONF','GT_CONF_PERCENTILE'])

In [6]:
sample_01.list_variants_wrt(reference)

['4687t>c', '4725t>c', '13333c>z', '13335t>a', '4730_indel', '4735_indel']

In [7]:
df=sample_01.table_variants_wrt(reference)

In [8]:
df

,VARIANT,REF,ALT,GENOME_INDEX,GENE,ELEMENT_TYPE,MUTATION_TYPE,POSITION,NUCLEOTIDE_NUMBER,AMINO_ACID_NUMBER,ASSOCIATED_WITH_GENE,IN_PROMOTER,IN_CDS,IS_SNP,IS_INDEL,IS_HET,IS_NULL,INDEL_LENGTH,INDEL_1,INDEL_2,COVERAGE,HET_VARIANT_0,HET_VARIANT_1,HET_COVERAGE_0,HET_COVERAGE_1,HET_INDEL_LENGTH_0,HET_INDEL_LENGTH_1,HET_REF,HET_ALT_0,HET_ALT_1
0,t4687c,t,c,4687,M2,GENE,SNP,-37,-37,NaN,True,True,False,True,False,False,False,NaN,None,None,68,,,NaN,NaN,NaN,NaN,,,
1,t4725c,t,c,4725,M2,GENE,SNP,1,2,1,True,False,True,True,False,False,False,NaN,None,None,68,,,NaN,NaN,NaN,NaN,,,
2,c13333z,c,z,13333,,,SNP,NaN,NaN,NaN,True,False,False,True,False,True,False,NaN,None,None,119,a,g,68,51,NaN,NaN,t,a,g
3,t13335a,t,a,13335,,,SNP,NaN,NaN,NaN,True,False,False,True,False,False,False,NaN,None,None,68,,,NaN,NaN,NaN,NaN,,,
4,4730_indel,cg,g,4730,M2,GENE,INDEL,7,7,3,True,False,True,False,True,False,False,-1,4730_del,4730_del_1,68,,,NaN,NaN,NaN,NaN,,,
5,4735_indel,g,gcc,4735,M2,GENE,INDEL,12,12,4,True,False,True,False,True,False,False,2,4735_ins,4735_ins_2,68,,,NaN,NaN,NaN,NaN,,,

In [9]:
m2_ref=reference.genes['M2']
m2_sam=sample_01.genes['M2']

In [10]:
m2_ref.amino_acid_numbering.dtype

dtype('int64')

In [11]:
m2_sam.table_mutations_wrt(m2_ref)

,GENE,MUTATION,REF,ALT,POSITION,AMINO_ACID_NUMBER,GENOME_INDEX,NUCLEOTIDE_NUMBER,IS_SNP,IS_INDEL,IN_CDS,IN_PROMOTER,ELEMENT_TYPE,MUTATION_TYPE,INDEL_LENGTH,INDEL_1,INDEL_2
0,M2,M1T,atg,acg,1,1,NaN,NaN,True,False,True,False,GENE,AAM,NaN,None,None
1,M2,t-37c,t,c,-37,NaN,4687,-37,True,False,False,True,GENE,SNP,NaN,None,None
2,M2,7_indel,None,None,7,3,4730,7,False,True,True,False,GENE,INDEL,-1,7_del,7_del_1
3,M2,12_indel,None,None,12,4,4735,12,False,True,True,False,GENE,INDEL,2,12_ins,12_ins_2

In [12]:
m2_sam.list_mutations_wrt(m2_ref)

['M1T', 't-37c', '7_indel', '12_indel']

In [ ]:
m2_sam.index

In [13]:
a=pandas.read_csv("/Users/fowler/Dropbox/mutations.csv")

In [17]:
a=a.astype({'IS_SNP':'bool','IS_INDEL':'bool','IN_CDS':'bool','IN_PROMOTER':'bool'})
a.IS_SNP.value_counts()

True     1418
False     120
Name: IS_SNP, dtype: int64

In [18]:
a

,UNIQUEID,GENE,MUTATION,POSITION,AMINO_ACID_NUMBER,GENOME_INDEX,NUCLEOTIDE_NUMBER,REF,ALT,IS_SNP,IS_INDEL,IN_CDS,IN_PROMOTER,IS_SYNONYMOUS,IS_NONSYNONYMOUS,IS_HET,IS_NULL,ELEMENT_TYPE,MUTATION_TYPE,INDEL_LENGTH,INDEL_1,INDEL_2,SITEID,NUMBER_NUCLEOTIDE_CHANGES
0,site.00.subj.1066561.lab.H113540015.iso.1,PE1,G286A,286,286.0,NaN,NaN,ggg,gcg,True,False,True,False,False,True,False,False,GENE,AAM,NaN,NaN,NaN,0,1
1,site.00.subj.1066561.lab.H113540015.iso.1,PE1,G369R,369,369.0,NaN,NaN,ggc,cgc,True,False,True,False,False,True,False,False,GENE,AAM,NaN,NaN,NaN,0,1
2,site.00.subj.1066561.lab.H113540015.iso.1,PE1,L485L,485,485.0,NaN,NaN,ctg,ttg,True,False,True,False,True,False,False,False,GENE,AAM,NaN,NaN,NaN,0,1
3,site.00.subj.1066561.lab.H113540015.iso.1,PE17,T36T,36,36.0,NaN,NaN,acg,aca,True,False,True,False,True,False,False,False,GENE,AAM,NaN,NaN,NaN,0,1
4,site.00.subj.1066561.lab.H113540015.iso.1,PE17,T285I,285,285.0,NaN,NaN,aca,ata,True,False,True,False,False,True,False,False,GENE,AAM,NaN,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533,site.00.subj.1066561.lab.H113540015.iso.1,whiB6,-74_indel,-74,NaN,4338595.0,-74.0,NaN,NaN,False,True,False,True,False,False,False,False,GENE,INDEL,-1.0,-74_del,-74_del_1,0,0
1534,site.00.subj.1066561.lab.H113540015.iso.1,yrbE1B,G248C,248,248.0,NaN,NaN,ggc,tgc,True,False,True,False,False,True,False,False,GENE,AAM,NaN,NaN,NaN,0,1
1535,site.00.subj.1066561.lab.H113540015.iso.1,yrbE2A,A111A,111,111.0,NaN,NaN,gcc,gcg,True,False,True,False,True,False,False,False,GENE,AAM,NaN,NaN,NaN,0,1
1536,site.00.subj.1066561.lab.H113540015.iso.1,yrbE2A,L160L,160,160.0,NaN,NaN,ctt,ctc,True,False,True,False,True,False,False,False,GENE,AAM,NaN,NaN,NaN,0,1
1537,site.00.subj.1066561.lab.H113540015.iso.1,zwf1,Q456!,456,456.0,NaN,NaN,cag,tag,True,False,True,False,False,True,False,False,GENE,AAM,NaN,NaN,NaN,0,1

In [19]:
b=pandas.read_csv("/Users/fowler/Dropbox/mutations.csv")
b.IS_SNP.value_counts(dropna=False)

1.0    1418
0.0     120
Name: IS_SNP, dtype: int64

In [20]:
g="0e9d82e8-c49f-4e54-b2f5-40ec8ab69b60"
len(g)

36

In [22]:
l={}
if l is not None:
    print("not empty")

not empty